asn1crypto==0.24.0
backports-abc==0.5
certifi==2020.4.5.2
cryptography==3.2
Cython==0.29.20
ddtrace==0.38.2
Django==1.9.13
enum34==1.1.10
funcsigs==1.0.2
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
msgpack==1.0.0
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.11.0
tornado==4.4.3
